:root {
  --main-color: #d3ad7f;
  --black: #13131a;
  --bg: #010103;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
  --transition: 0.4s;
}

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  color: #fff;
}

html {
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 50px 20px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 25px 10px;
  }
}

body {
  background-color: var(--bg);
}
.info_section {
  text-align: center;
}
.info_section h2 {
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 1.1px;
}
@media (max-width: 768px) {
  .info_section h2 {
    font-size: 30px;
  }
}
.info_section h2 span {
  color: var(--main-color);
}
/* start header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 7%;
  border-bottom: 0.1rem solid var(--main-color);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--black);
}

header .logo img {
  height: 60px;
  cursor: pointer;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul li {
  margin: 0 20px;
  position: relative;
  padding: 5px 0;
  text-transform: capitalize;
}
header nav ul li::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: var(--main-color);
  bottom: 0;
  transform: scaleX(0);
  transition: transform var(--transition) linear;
  transform-origin: left;
}
header nav ul li:hover::before {
  transform: scaleX(1);
}
header nav ul li:hover a {
  color: var(--main-color);
  transition: var(--transition);
}
header .icon i {
  margin: 0 10px;
  font-size: 25px;
  cursor: pointer;
  transition: var(--transition);
  position: relative;
}
header .icon i:hover {
  color: var(--main-color);
  transform: skew(1px);
}
header .icon i:nth-child(3) {
  display: none;
}

@media (max-width: 768px) {
  header nav {
    position: absolute;
    right: 0;
    top: 102%;
    height: 100vh;
    background: #fff;
    width: 250px;
    padding: 10px;
    transform: scaleX(0);
    transform-origin: right;
    transition: var(--transition);
  }
  header nav.active {
    transform: scaleX(1);
  }
  header nav ul {
    display: flex;
    flex-direction: column;
  }
  header nav ul li {
    padding: 12px 0;
  }
  header nav ul li a {
    color: var(--black);
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  header .icon i:nth-child(3) {
    display: inline-block;
  }
  header .search_memo {
    width: 90%;
    height: 2.5rem;
  }
}
@media (max-width: 991px) {
  header {
    padding: 7px 1rem;
  }
  header .icon i {
    margin: 0 7px;
    font-size: 22px;
  }
}
header .search_memo {
  position: absolute;
  right: 7%;
  bottom: -56px;
  background-color: #fff;
  border-radius: 3px;
  width: 26rem;
  height: 2.7rem;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px 15px;
  transform: scaleY(0);
  transform-origin: top;
  transition: var(--transition);
}

@media (max-width: 768px) {
  header .search_memo {
    width: 90%;
    height: 2.5rem;
    right: 5%;
  }
}

header .search_memo::-webkit-input-placeholder {
  font-size: 16px;
  color: rgb(154, 154, 154);
}
header .search_memo input {
  height: 100%;
  width: 100%;
  font-size: 16px;
  color: var(--black);
  text-transform: none;
  outline: none;
}
header .search_memo.active {
  transform: scaleY(1);
}
header .search_memo label i {
  color: var(--bg);
  font-size: 22px;
  margin: 0 0 2px 10px;
  transition: var(--transition);
  cursor: pointer;
}
header .search_memo label i:hover {
  color: var(--main-color);
}

header .shop_memo {
  position: absolute;
  top: 102%;
  right: 0;
  height: 100vh;
  width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: #fff;
  gap: 25px;
  transform: scaleX(0);
  transform-origin: right;
  transition: var(--transition);
}
header .shop_memo.active.active {
  transform: scaleX(1);
}
header .shop_memo .car_item {
  display: flex;
  align-items: center;
  position: relative;
  gap: 1.5rem;
}
header .shop_memo .car_item::after {
  content: "";
  position: absolute;
  width: 95%;
  height: 1px;
  left: 8px;
  bottom: -11px;
  background-color: #ddd;
  border-radius: 6px;
}
header .shop_memo .car_item img {
  height: 60px;
  cursor: pointer;
}

header .shop_memo .car_item .info h4 {
  color: var(--black);
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 5px;
  font-size: 20px;
}

header .shop_memo .car_item .info p {
  color: var(--main-color);
  font-size: 18px;
}
header .shop_memo .car_item i {
  color: black;
  font-size: 25px;
  position: absolute;
  top: 5px;
  right: 0;
  cursor: pointer;
  transition: var(--transition);
}
header .shop_memo .car_item i:hover {
  color: var(--main-color);
}
header .shop_memo a {
  background: var(--main-color);
  text-align: center;
  padding: 9px;
  border-radius: 3px;
  font-weight: bold;
  transition: var(--transition);
}
header .shop_memo a:hover {
  letter-spacing: 1.2px;
}
/* end header */
.home {
  background-image: url(../image/home-img.jpeg);
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  padding-left: 50px;
  padding-right: 50px;
}

.home .content {
  padding: 30px 45px;
  max-width: 39rem;
}
.home .content h2 {
  font-size: 55px;
  text-transform: uppercase;
  color: #fff;
  margin: 20px 0;
}
.home .content p {
  font-size: 18px;
  color: #ddd;
  letter-spacing: 1.2px;
  margin: 0px 0 25px;
}
.home .content a {
  background: var(--main-color);
  text-align: center;
  padding: 12px 20px;
  border-radius: 3px;
  font-weight: bold;
  transition: var(--transition);
  font-size: 20px;
}
.home .content a:hover {
  letter-spacing: 1.2px;
}
@media (max-width: 768px) {
  .home {
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }
  .home .content {
    padding: 15px 20px;
  }
  .home .content h2 {
    font-size: 35px;
  }
}
/* end home */
/* start about  */
.about .container {
  display: flex;
  gap: 2%;
  justify-content: center;
  align-items: center;
}
.about .container .image {
  max-width: 50%;
}
.about .container .image img {
  width: 100%;
}
.about .container .info {
  padding: 20px;
  max-width: 48%;
}
.about .container .info h3 {
  font-size: 28px;
  margin: 0 0 20px;
}

.about .container .info p {
  margin: 0 0 20px;
  color: #ddd;
  line-height: 25px;
}
.about .container .info a {
  background: var(--main-color);
  text-align: center;
  padding: 12px 20px;
  border-radius: 3px;
  font-weight: bold;
  transition: var(--transition);
  font-size: 20px;
  max-width: fit-content;
  text-transform: capitalize;
}
.about .container .info a:hover {
  letter-spacing: 1.2px;
}
@media (max-width: 768px) {
  .about .container {
    flex-direction: column;
  }
  .about .container .image {
    max-width: 100%;
  }
  .about .container .info {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
}
/* end about */

/* start our menu */
.our_menu {
  position: relative;
}
.our_menu .container .info_card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.our_menu .container .info_card .card {
  text-align: center;
  padding: 25px 19px 40px;
  background: #373535c2;
  border-radius: 6px;
  box-shadow: 8px 8px 15px 0 #5f5d5dc2;
}
.our_menu .container .info_card .card img {
  border: 2px solid #5f5d5dc2;
  padding: 4px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.our_menu .container .info_card .card h4 {
  font-size: 22px;
  text-transform: capitalize;
  letter-spacing: 1.2px;
  margin-bottom: 10px;
  font-weight: 900;
}
.our_menu .container .info_card .card p {
  margin: 7px 0 30px;
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #ddd;
}
.our_menu .container .info_card .card a {
  background: var(--main-color);
  text-align: center;
  padding: 12px 20px;
  border-radius: 3px;
  font-weight: bold;
  transition: var(--transition);
  font-size: 20px;
  max-width: fit-content;
  text-transform: capitalize;
}
.our_menu .container .info_card .card a:hover {
  letter-spacing: 1.2px;
}
/* end our menu */
.OUR_PRODUCTs {
  padding-top: 50px;
  padding-bottom: 50px;
}
.OUR_PRODUCTs .container .info_product {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.OUR_PRODUCTs .container .info_product .card {
  text-align: center;
  padding: 25px 19px 40px;
  background: #373535c2;
  border-radius: 6px;
  box-shadow: 8px 8px 15px 0 #5f5d5dc2;
}
.OUR_PRODUCTs .container .info_product .card .icon a {
  margin: 20px 10px;
  font-size: 22px;
  transition: var(--transition);
}
.OUR_PRODUCTs .container .info_product .card .icon a:nth-child(1):hover {
  color: var(--main-color);
}
.OUR_PRODUCTs .container .info_product .card .icon a:nth-child(2):hover {
  color: red;
}
.OUR_PRODUCTs .container .info_product .card .icon a:nth-child(3):hover {
  color: rgb(0 177 255);
}
.OUR_PRODUCTs .container .info_product .card .info {
  margin: 20px 0;
}
.OUR_PRODUCTs .container .info_product .card .info h3 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.2px;
}
.OUR_PRODUCTs .container .info_product .card .info .icons i {
  color: var(--main-color);
  margin-bottom: 10px;
  font-size: 19px;
}
.OUR_PRODUCTs .container .info_product .card .info p {
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1.2px;
}
.OUR_PRODUCTs .container .info_product .card .info p span {
  font-size: 16px;
  font-weight: 400;
  text-decoration: line-through;
  letter-spacing: 1.2px;
}

/* start member */

@media (max-width: 768px) {
  .member .container {
    margin-top: 10px;
  }
}

.member .member_card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 48px;
}
.member .member_card .card {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #373535c2;
  border-radius: 6px;
  box-shadow: 8px 8px 15px 0 #5f5d5dc2;
}
.member .member_card .card .upper {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 1px;
}
.member .member_card .card .upper .rate h4 {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bold;
}
.member .member_card .card .upper .rate span {
  margin: 0 5px;
}
.member .member_card .card .upper .rate span i {
  margin: 20px 0;
  color: var(--main-color);
}
.member .member_card .card .upper img {
  width: 100px;
  border-radius: 50%;
  position: absolute;
  right: -8px;
  top: -42px;
  border: 9px solid var(--bg);
  padding: 0px;
}
.member .member_card .card .info {
  padding: 0 20px 18px;
  line-height: 20px;
  color: #ddd;
  letter-spacing: 1px;
}
/* end member */
/* start contact */
.contact .section {
  display: flex;
  gap: 5%;
}
.contact .section .map {
  width: 50%;
}
.contact .section form {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0;
}
.contact .section form h3 {
  width: fit-content;
  font-size: 30px;
  margin: 0 auto 20px;
}
.contact .section form input {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 12px;
  border: none;
  border-bottom: 2px solid var(--main-color);
  background-color: #f9f9f9;
  outline: none;
  resize: none;
  color: #010103;
  font-size: 17px;
}
.contact .section form input:nth-child(5) {
  background: #2193b0;
  text-align: center;
  padding: 12px 20px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
  color: #fff;
  letter-spacing: 1.2px;
  border-bottom: none;
  cursor: pointer;
  transition: var(--transition);
}
.contact .section form input:nth-child(5):hover {
  letter-spacing: 3px;
}
.contact .section form input::-webkit-input-placeholder {
  color: #777;
}
@media (max-width: 992px) {
  .contact .section {
    flex-direction: column;
  }
  .contact .section form,
  .contact .section .map {
    width: 100%;
  }
}
/* end contact */
/* start our blogs */
.our_blogs .fav_card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  gap: 30px;
}
.our_blogs .fav_card .card {
  overflow: hidden;
  background: #373535c2;
  border-radius: 6px;
  box-shadow: 8px 8px 15px 0 #5f5d5dc2;
}
.our_blogs .fav_card .card .image {
  width: 100%;
  overflow: hidden;
}
.our_blogs .fav_card .card img {
  width: 100%;
  transition: var(--transition);
}
.our_blogs .fav_card .card .info {
  padding: 15px 15px 26px;
}
.our_blogs .fav_card .card h2 {
  margin-bottom: 15px;
  font-weight: 800;
  letter-spacing: 1.2px;
}
.our_blogs .fav_card .card h4 {
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 19px;
  margin-bottom: 10px;
  color: var(--main-color);
}
.our_blogs .fav_card .card h4 span {
  color: #fff;
}
.our_blogs .fav_card .card p {
  line-height: 25px;
  margin-bottom: 17px;
  color: #ddd;
  font-size: 15px;
}
.our_blogs .fav_card .card a {
  background: var(--main-color);
  padding: 9px 21px;
  border-radius: 3px;
  font-weight: bold;
  transition: var(--transition);
  font-size: 20px;
  max-width: fit-content;
  text-transform: capitalize;
}
.our_blogs .fav_card .card a:hover {
  letter-spacing: 1.2px;
}
.our_blogs .fav_card .card:hover img {
  transform: rotate(6deg) scale(1.2);
}
@media (max-width: 768px) {
  .our_blogs .fav_card .card h2 {
    font-size: 19px;
  }
  .our_blogs .fav_card .card h4 {
    font-size: 17px;
  }
  .our_blogs .fav_card .card p {
    font-size: 14px;
  }
}
/* end our blogs */
/* start footer */
footer {
  padding: 18px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--main-color);
}

footer h4 {
  font-size: 22px;
  text-transform: capitalize;
  color: black;
}
footer h4 span {
  color: #3d879a;
}
footer h4 .copy {
  color: #fff;
}

footer .social i {
  font-size: 22px;
  margin-left: 10px;
  cursor: pointer;
  transition: calc(0.2s + var(--transition));
}
footer .social i:hover {
  color: #2193b0;
}
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    gap: 10px;
  }
}

/* end footer */
